@import url(https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield);


* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
}


h1 {
	font-family: "Mrs Saint Delafield", cursive; 
	font-size: 5em;
}

p { 
	font-size: 1em;
	line-height: 1.5em
}

#slogan { 
	font-family:  Didot, serif;
	font-style: italic;
}


header, main, footer {
	text-align: center;
}

header, footer, section {
	background-color: #cdbdc4
}

nav a, a {
	color: white;
	text-decoration: underline;
}

main {
	height: 800px;
	width: 100%;
	background: url(../images/plates.jpg);
	background-size: cover;
	opacity: 0.5; 
}

	/*How do I change opacoty of just the background and not the text on top?
	What's the best way to handle the image height? 
*/

h1, #slogan{
	color: white;
}

#shopnow, h1 { 
	padding-top: 200px
}




/*img { 
	width: 100%; 
}
*/
/*#slogan { 
	font-family:  "Brush Script MT", cursive;
	font-weight: normal;
	font-size: 22px;
}*/