@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

/*font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #cdbdc4;
	font-family: Oswald, sans-serif;
	font-size: 24px;
	line-height: 1.5em;
	text-align: center;
}

}
h1 {
	font-family: Roboto, "Sans-Serif";
	font-size: 10em;
	padding: 20px;
	margin: auto;
}

h3 {
	font-family: Roboto, "Sans-Serif";
	font-size: 2em;
	text-decoration: underline;
	margin: 1em auto;
}

p {
	font-size: 1em;
	margin: 1em auto;
	text-align: left; 
}

main {
	text-align: center:
}

img {
	width: 70%;
	height: 70%; 
}

nav {
	background-color: #aaaaaa;
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-size: 1em;
	text-decoration: underline;
	text-underline-position: under;
	text-align: center;
}

a {
	background-color: gray;
	color: white;
	padding: 10px;
}

/*Do I need to float and change the display of my nav bar if I just want it horizontal and cenetr? 
*/
a:hover { 
	background-color: #aaaaaa;
	 }

footer {
	background-color: #FF957E;
	padding: 10px;
	margin: auto; 
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.aurifacts {
	width: 100%;
	background-color: blue;
}

.left {
	float: left;
	width: 35%;
	margin: 0px auto;
	padding: 0px;
}

.right {
	float: right;
	width: 35%;
	margin: 0px;
	padding: 0px:;
	background-color: orange;
}

.second {
	float: left;
}

.third {
	float: left;
}

#landing {
	background: url(../images/auribone.jpg) no-repeat center center scroll;
	background-size: cover;
	width: 100%;
	height: 700px;
	color: white;
}

/*How do I make background image faded but not the header text on top?
*/	

#calltoaction {
	text-decoration: underline;
	text-underline-position: under;
	color: white;
	font-size: 1em;
	padding: 20px
}

#slogan { 
	font-family:  Didot, serif;
	font-style: italic;
	font-size: 2em;
	padding: 40px;
	margin: auto;
/*	background-color: red;
*/
 }
	
#wrapper {
	background-color: blue;
	max-width: 50em;
	padding: 20px;
	margin: auto;
}



/*li {
	text-align: left;
	margin: auto;

}*/

